@import './styles/settings/variables';

.App {
    &__header {
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
        display: none;
    }

    &__showHeader {
        display: block;
    }
}