@import '../../styles/settings/variables';

.Header {
    position: fixed;
    top: 0;
    z-index: 999999;
    background: $quaternary-color;
    border-bottom: 3px solid $tertiary-color;
    width: 100%;
    text-align: left;
    padding: 1rem;

    &__logo,
    &__listContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        ;
    }

    &__listContainer {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    &__list {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 10px;

        @media screen and(min-width:$screen-lg) {
            padding-top: 0;
        }
    }

    &__listItem {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-right: 0.5rem;

        @media screen and(min-width:$screen-lg) {
            padding-right: 1.5rem;
        }

        a {
            text-decoration: none;
            border-top: 3px solid transparent;

        }

        h5 {

            text-transform: uppercase;
            color: $primary-color;
            font-size: $font-size-h5 - 0.8;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;

            &:hover {
                color: $tertiary-color;
            }

            @media screen and(min-width:$screen-md) {
                font-size: $font-size-h5 - 0.5;
            }

            @media screen and(min-width:$screen-lg) {
                font-size: $font-size-h5;
            }
        }


    }

    &__listItem.active {
        h5 {
            border-top: 3px solid $secondary-color;
        }
    }

    &__listItemActive {
        h5 {
            border-top: 3px solid $secondary-color;
        }
    }
}